.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body{
  display: flex;
}

.br {
  display: block;
  line-height: 150%;
}

.container{
  width: 90%;
  margin-left: 12%;
  margin-right: 5%;
  float:left;
}
.buttons{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  padding-right: 5%;
  float: left;
}
.info-button{
  background-color: rgb(255, 255, 255);
  border-color: #50e157;
  border-width: 10px;
}
.info-button:hover{
  border-color:rgb(192, 34, 157)
}
 
.info-title{
  display: flex;
  font-size: 30px;
  height: 10px;
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.containerPayment {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1em;
}